#blog-page
	font-family Darker Grotesque

	//search
	.search-bar-container
		margin-top 120px

		input
			background transparent
			border none
			color #1b1b1e
			width 100%

		.button
			width 100%

	//blog board
	.blog-board-container
		margin-top 40px

		.main-card
			width 100%
			min-height 500px
			display flex
			align-items flex-end
			color #ffffff
			background linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../assets/clothes.png')

			.text 
				opacity .6

			.card-text
				width 80%
				padding 0 0 40px 50px

		.blog-card
			margin 30px 0 0 0 

			img
				width 100%

			.second-title
				margin-top 20px

		.subscribe-form .line
			margin-bottom 20px

		.blog-board-list
			&-item
				padding 0 0 40px 0 !important

				.line
					margin-bottom 20px

				&:nth-of-type(2) 
					margin-top 40px