.blog-container
	margin-top 160px

.blog-cards-row
	margin-top 50px

	& .image-card img
		width 100%

	& .line 
		margin-bottom 20px



.blog-card
	// border-top 2px solid #000000
	// border-bottom 2px solid #000000

	& .text
		padding 5px

	&:nth-of-type(4)
		padding-top 20px

	&:hover
		color rgba(0, 0, 0, 0.7)

.subscribe-form
	background-color #ec5c2b
	padding 23px 35px !important

	&:hover
		

	& .second-title
		color #fff

	& input 
		margin-top 30px
		background transparent
		border none
		color #ffffff

	& .line
		background #fff
		margin-top 10px

	& .button
		background-color #EC5C2B
		margin-left 150px
		width 160px

	& .button-bar
		background-color #fff

		// &:hover
		// 	cursor url('../assets/cursor.svg'), auto

	& .button-text
		color #fff

	& .button-bar .button-text
		color #ec5c2b