//FEATURES

.features-row
  margin 100px 0 0 0 

  .text
    padding 20px 0 21px 0
    white-space pre-wrap

.features_title
  height 90px
  display flex
  align-items flex-end
  padding-bottom 16px
  font-style normal
  font-weight 800
  font-size 48px
  line-height 90%
  color #1B1B1E
  white-space pre-wrap
  // border-bottom 2px solid #000

.features-text-and-button
  visibility hidden

  &-anim
    visibility visible
    animation fadeIn 1.2s linear

.make-visible
  visibility visible
  width 100%

.orange-on-hover
  background #EC5C2B !important
	
.orange-title-on-hover
  color #EC5C2B !important
