.footer-container
	background-color #1b1b1e
	color #fff

	.line
		background #fff

	.contact
		margin 100px 0 10px 0

	.form
		margin-top 100px

		input
			margin-top 30px
			background transparent
			border none
			color #fff
			width 100%
			
		.upload
			margin-top 20px
			height 30px
			
			& > input
				visibility hidden
				
			img
				cursor pointer
				width 25px
				
			.third-title
				cursor pointer
				display inline-block
				vertical-align middle
				text-decoration-line underline
			

		.file-name
			position: absolute
				
		.send 
			.button
				background-color #1b1b1e
				width 130px
				float right
				margin-bottom 20px

				.button-bar
					background-color #EC5C2B

				&:hover
					cursor url("../assets/cursor.svg"), auto
		.button-text
			color #fff


.middle-info
	display flex
	flex-direction column
	align-items center

	.other-ways
		font-size 16px
		width 150px
		margin-top 210px

	.email
		margin-top 100px

	.address
		margin 40px 0 50px 0

.right-info

	.phone
		margin-top 371px

.social-networks
	list-style none
	padding-left 0
	text-transform uppercase
	margin-top 50px

	&-row
		margin-top 70px

.footer-logo
	width 120px

.social-networks-links

	&_list
		padding-left 0
		float right

		li
			display inline-block
			margin-left 11px
			text-transform uppercase
			list-style none
		
			&:not(:nth-of-type(1)):before  
				content "/" 
				padding-right 11px 

	.third-title
		font-size 18px

.footer-info-row
	margin-top 15px

.footer-info-list
	font-size 18px
	padding-left 0
	float right
	opacity .6

	li
		display inline-block
		margin-left 30px
		text-transform uppercase
		list-style none
