#solution
    font-family Darker Grotesque

    .title-container
        margin-top 100px

        .text
            padding-right 10px
            display inline-block

            &:hover
                opacity 0.7
                cursor pointer
            

        .text:not(:nth-of-type(1)):before  
            content "/" 
            padding-right 10px 
        
        .back
            margin-top 50px
            margin-left -35px

            &-button
                display inline-block
                cursor pointer

                &:hover
                    opacity 0.7

            .third-title
                display inline-block
    
    .for-who
        margin-top 140px

        &-card
            background #EC5C2B
            padding 40px 50px 40px 60px
            margin-top 30px
            height 240px
            color #fff

            &:hover
                cursor url('../assets/cursor-white.svg'), auto
            
            .third-title
                line-height 120% !important

    .second-title-container
        margin-top 140px

    .we-doing
        &-card
            margin-top 40px

    .how-it-helps-container
        margin-top 150px

    .footer-container
        margin-top 130px

