.testimonials-container
	margin-top 130px
	margin-bottom 130px

.testimonials-table
	padding 50px 50px 50px 0

.brand-column
	display flex
	align-items center
	justify-content center

	border 1px solid black

	&:before
		content ''
		display block
		padding-top calc(100% + 30px)

	&:hover
		background-color #ec5c2b

.testimonials-info 
	.first-title:nth-of-type(3)
		margin 0 0 42px 0

	.third-title
		margin-top 40px

.author 
	margin 36px 0 56px 0

	& .text 
		color #828282