#vacancy
  font-family Darker Grotesque

	.breadcrumbs-container
    margin-top 100px

    .text
      padding-right 10px
      display inline-block
      &:hover
        opacity 0.7
        cursor pointer
          
    .text:not(:nth-of-type(1)):before  
      content "/" 
      padding-right 10px 

	.vacancy-info
		margin-top 20px

		.text 
			margin-top 50px

		.jelly-container
			margin-top 0
			width 300px
			height 300px

		.jelly-canvas
			width 300px
			height 300px

		#get-quote
			text-align center

	.needs-container
		margin-top 130px

		ul
			margin-top 20px
			padding-left 13px
			list-style url('../assets/bullet.svg')

	.footer-container
		margin-top 120px
		
